.container {
  display: grid;
  gap: 1rem;
  padding: 2rem 0;
  margin-left: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.sidebar-open .container {
  grid-template-columns: repeat(3, 1fr);
}

.sidebar-closed .container {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 100%;
  position: relative;
  padding-top: 100%;
  background-color: #e5e5e5;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.title {
  text-align: start;
  font-size: 1.1rem;
  font-weight: 700;
  color: #333;
  margin: 0.2rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.mobileTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 0.8rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: wrap;
  text-align: start;
  width: 100%;
}

.signInText {
  text-decoration: underline;
}

.wishlistButton,
.mobilewishlistButton {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 2000px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
  .mobilewishlistButton {
    display: none;
  }
}

@media (min-width: 1800px) and (max-width: 1999px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .mobilewishlistButton {
    display: none;
  }
}

@media (min-width: 1500px) and (max-width: 1799px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .mobilewishlistButton {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .mobilewishlistButton {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .mobilewishlistButton {
    display: none;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .wishlistButton {
    display: none;
  }
  .description {
    font-size: 0.7rem;
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    margin-left: 0;
  }
  .wishlistButton {
    display: none;
  }
  .description {
    font-size: 0.6rem;
  }
}
